---
# VPN Server Role - Security (SSH + UFW)

- name: Configure UFW - allow SSH
  community.general.ufw:
    rule: allow
    port: "{{ vpn_server_ssh_port }}"
    proto: tcp
    comment: "SSH"

- name: Configure UFW - allow x-ui panel
  community.general.ufw:
    rule: allow
    port: "{{ vpn_server_xui_port }}"
    proto: tcp
    comment: "x-ui panel"

- name: Configure UFW - allow VLESS
  community.general.ufw:
    rule: allow
    port: "{{ vpn_server_vless_port }}"
    proto: tcp
    comment: "VLESS VPN"

- name: Configure UFW - allow HTTP for ACME
  community.general.ufw:
    rule: allow
    port: "80"
    proto: tcp
    comment: "ACME HTTP challenge"

- name: Enable UFW
  community.general.ufw:
    state: enabled
    policy: deny
    direction: incoming

- name: Configure SSH - disable password authentication
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PasswordAuthentication"
    line: "PasswordAuthentication {{ 'yes' if vpn_server_ssh_password_auth else 'no' }}"
    validate: "sshd -t -f %s"
  notify: reload sshd

- name: Configure SSH - PermitRootLogin
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PermitRootLogin"
    line: "PermitRootLogin {{ vpn_server_ssh_permit_root }}"
    validate: "sshd -t -f %s"
  notify: reload sshd
